.particles {
  display: block;
  z-index: 1;
  height: 100vh;
  top: 0;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
background-color:#241e56;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}


#customers tr:hover , td:hover {background-color: #000;}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.landingPage {
   display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: auto;
  width: auto;
  left: calc((100vw - 500px) / 2);
 
  top: calc((100vh - 70px) / 2);
  position: absolute;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
#ad {
   height:60px;
background-color : transparent;
}
@media only screen and (height:90px) {
   /* 90 pixels high */
   #ad {
      height:90px;
   }
}
@media only screen and (height:125px) {
   /* 125 pixels high */
   #ad {
      height:125px;
   }
}
.landingPage h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
  z-index: 2;
}

.landingPage ::selection {
  color: #241e56;
  background: #fff;
}

.landingPage h2 {
  margin: 5px;
}

.search {
  position: absolute;
  width: 35%;
  top: 30px;
  height: 30px;

  padding: 0px;
  align-items: center;
  justify-content: center;
  align-content: center;
  left: calc((100% - 420px) / 2);
}
.listt {
  position: absolute;
  width: auto;
  top: 30px;
  height: 30px;
 display :flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  align-content: center;
  left: calc((100% - 445px) / 2);
}
.search > div {
  height: 100%;
  display: flex;
display: flex;
    flex-direction: row;
  align-self: center;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.search-button {
  margin-left: 10px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.search-button input {
  border: 2px black;
  border-radius: 30px;
}

.search-button button {
  padding: 8px;
  border-radius: 10px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.search-button button:focus {
  outline: none;
}

.search-button button:hover{
  color: #241e56;
  background-color: #fff;
}

.search > div > * {
  font-size: 10px;
  height: 100%;
display: flex;
    flex-direction: row;
}
.scale{
  width: 80%;
  float: right;
  padding: 5px;
  
  position: relative;
  left: 82%;
  bottom: 520%;
}
.clear{
  clear: both;
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
.search {
  position: absolute;
  width: auto;
  top: 30px;
  height: 30px;
  
  padding: 0px;
  align-items: center;
  justify-content: center;
  align-content: center;

}

}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }

.search {
  position: absolute;
  width: auto;
  top: 30px;
  left: 0%;
  height: 25px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  align-content: center;
  right: 10%;
}
.search > div {
  height: 100%;
margin-left : 12%;
  align-self: center;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.search-button {
  margin-left: 10px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  align-content: center;
}

.search-button input {
  border: 2px black;
  border-radius: 30px;
}

.search-button button {
  padding: 8px;
  border-radius: 10px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.search-button button:focus {
  outline: none;
}

.search-button button:hover{
  color: #241e56;
  background-color: #fff;
}

.search > div > * {
  font-size: 10px;
  height: 100%;
}
.landingPage {
   display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: auto;
  width: auto;

  left: 0px;

  top: calc((100vh - 70px) / 2);
  position: absolute;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.scale{
  width:auto;
  float: none;
  position: absolute;
  top: 450%;
  right: 1%;
  left: 0;
  text-align: center;
}
}