
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.legend {
  right: 5px;
  padding: 5px;
  background-color: #dbbbf7;
  color: black;
  position:absolute;
  margin-right: 20px;
  float: right;
  margin-top: 20px;
}

.loader {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  top: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.selected-node {

  visibility: hidden;
  padding: 5px;
  bottom: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;;
  align-items: center;
}

.selected-node h4 {
  padding: 0 0 5px 0;
  margin: 0;
}

.selected-node div:first-of-type {
  padding-top: 0;
}

.selected-node > .row {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.selected-node > .row > div {
  height: auto;
  width: 50%;
  text-align: left;
  padding: 5px;
}

.selected-node > .row > div:first-of-type {
  text-align: right;
  border-right: 1px solid #fff;
}

.selected-node > .row > div:nth-of-type(2) {
  border-left: 1px solid #fff;
  overflow-x: scroll;
}

/*TODO fix up this css*/
.selected-link {
  visibility: hidden;
  padding: 5px;
  bottom: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;;
  align-items: center;
}

.selected-link h4 {
  padding: 0 0 5px 0;
  margin: 0;
}

.selected-link .row {
  width: 100%;
}

.selected-link div:first-of-type {
  padding-top: 0;
}

.selected-link > .row {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.selected-link > .row > div {
  height: auto;
  width: 50%;
  text-align: left;
  padding: 5px;
}

.selected-link > .row > div:first-of-type {
  text-align: right;
  border-right: 1px solid #fff;
}

.selected-link > .row > div:nth-of-type(2) {
  border-left: 1px solid #fff;
  overflow-x: scroll;
}

/*TODO fix up this css*/
.key-tooltip {
  padding: 5px;
  position: absolute;
  bottom: 1;
  right:0;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.key-tooltip h4 {
  padding: 10px 0 5px 0;
  margin: 5;
}

.key-tooltip .row {

}

.key-tooltip div:first-of-type {
  padding-top: 0;
}

.key-tooltip > .row {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.key-tooltip > .row > div {
  height: auto;
  width: 50%;
  text-align: left;
  padding: 5px;
}

.key-tooltip > .row > div:first-of-type {
  text-align: right;
  border-right: 1px solid #fff;
}

.key-tooltip > .row > div:nth-of-type(2) {
  border-left: 1px solid #fff;
}

.price-hover:hover {
  color: #241E56;
  background-color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 600px) {

body{
overflow:scroll;
}
 .selected-link {
  visibility: hidden;
  padding: 5px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;;
  align-items: center;
  overflow-x:auto;
  overflow-y:scroll;
  font-size: 10px;
}
.selected-container {
  display: flex;
  flex-direction: column;
  height : auto;
overflow-x:auto;
overflow-y:scroll;
  width: 100%;
background-color:#241e56;
bottom:-50%;
}

.selected-node {
  visibility: hidden;
  padding: 5px;
overflow-x:auto;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;;
  align-items: center;
overflow-y:scroll;
font-size: 10px;
}
}